:root {
  --text-dark: #2A323D;
  --text-white: #FFFFFF;
  --bg-body: #F7F8F9;
  --bg-secondary: #F1F5F9;
  --btn-primary: #0EA5A4;
  --text-gray: #98A6BB;
  --border-radius: 1rem;
  --border-radius-btn: .5rem;
  --bg-warning: #F59E0B;
  --bg-danger: #EF4444;
  --bg-white: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter;
  border: none;
  color: var(--text-dark);
}

body {
  background-color: var(--bg-body);
}

button {
  cursor: pointer;
  font-weight: 600;
}

.header-page {
  display: flex;
  background-color: var(--bg-secondary);
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

h1 {
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 4px;
}

h1::before {
  content: url("../images/storage.png");
}

.button-menu {
  background-color: var(--bg-body);
  padding: .25rem;
  width: 40px;
  border-radius: var(--border-radius-btn);
}

.header-nav {
  display: none;
}

main {
  margin-top: 1rem;
  padding: 1rem;
}

.div-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.div-search input, .modal-content form input, textarea {
  padding: .5rem;
  border-radius: var(--border-radius-btn);
  border: 1px solid rgb(241, 241, 241);
}

h2 {
  font-size: 20px;
  text-align: center;
  margin-bottom: 1rem;
}

.btn-add-product {
  padding: .25rem 1rem;
  background-color: var(--btn-primary);
  color: var(--text-white);
  border-radius: var(--border-radius-btn);
  display: flex;
  align-items: center;
  gap: 4px;
}

.btn-add-product:hover {
  background-color: #137c7c;
  transition: all .5s;
}

.btn-add-product::before {
  content: url("../images/add.png");
  margin-top: .20rem;
}

table {
  background-color: var(--bg-secondary);
  border-radius: var(--border-radius);
  border: 1px solid #E6E9EE;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  font-weight: 600;
}

tbody tr:nth-child(even) {
  background-color: var(--bg-white);
}

tbody tr:nth-child(odd) {
  background-color: var(--bg-body);
}

th {
  text-align: start;
  font-size: 12px;
}

th:last-child {
  text-align: end;
}

th, td {
  padding: .5rem;
}

td {
  border-top: 1px solid #E6E9EE;
  font-size: 14px;
}

.editProduct {
  background-color: var(--bg-secondary);
  padding: .25rem .5rem;
  border-radius: var(--border-radius-btn);
}

.deleteProduct {
  background-color: var(--bg-danger);
  padding: .25rem .5rem;
  color: var(--text-white);
  border-radius: var(--border-radius-btn);
}

/* Estilos gerais dos modais */
.modal {
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.411);
  width: 100%;
  height: 100%;
  position: fixed;
  inset: 0;
}

.modal-content {
  background-color: var(--bg-white);
  padding: 1rem;
  border-radius: var(--border-radius);
  width: 600px;
  margin: 1rem;
}

.modal-content header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
  border-bottom: 1px solid rgb(241, 241, 241);
  padding-bottom: 1rem;
  margin: 0 -1rem;
}

.modal-content header h3, .close-btn-modal {
  margin: 0 1rem;
}

.modal-content header h3 {
  display: flex;
  gap: 8px;
}

.close-btn-modal {
  padding: .25rem 1rem;
  border-radius: var(--border-radius-btn);
  font-size: 24px;
}

.form-content {
  max-height: 75vh;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow-y: auto;
}

.div-inputs {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal-content label {
  font-size: 12px;
  color: var(--text-gray);
}

.modal-content span {
  font-size: 11px;
  color: var(--text-gray);
}

.div-image, #form-message-errors {
  margin-bottom: 1rem;
}

#form-message-errors {
  display: none;
  flex-direction: column;
  gap: .25rem;
}

footer {
  border-top: 1px solid rgb(241, 241, 241);
  padding-top: 1rem;
  margin: 0 -1rem;
}

.footer-add-product > div {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}

.footer-btn-main {
  display: flex;
  gap: 8px;
}

.btn-clear {
  padding: .5rem 1rem;
  background-color: transparent;
  border: 1px solid rgb(221, 221, 221);
  border-radius: var(--border-radius-btn);
  color: var(--text-gray);
  display: flex;
  align-items: center;
  gap: 4px;
}

.btn-clear::before {
  content: url("../images/delete-gray.png");
}

.modal-btn-cancel {
  padding: .5rem 1rem;
  background-color: var(--bg-body);
  color: var(--text-dark);
  border-radius: var(--border-radius-btn);
}

/* Estilos do modal de adicionar produto */
#modalAddProduct h3::before {
  content: url("../images/box-add.png");
}

#modalAddProduct button[type=submit] {
  display: flex;
  align-items: center;
  gap: .25rem;
  background-color: var(--btn-primary);
  color: var(--text-white);
  padding: .25rem .75rem;
  border-radius: var(--border-radius-btn);
}

#modalAddProduct button[type=submit]::before {
  content: url("../images/save.png");
}

.form-separate-inputs {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 1rem;
}

/* Estilos do modal de editar produto */
#modalEditProduct h3 {
  display: flex;
  align-items: center;
  gap: 8px;
}

#modalEditProduct h3::before {
  content: url("../images/edit-modal.png");
}

#modalEditProduct footer div {
  display: flex;
  justify-content: end;
  gap: 8px;
  padding-right: 1rem;
}

#modalEditProduct .modal-btn-cancel {
  background-color: transparent;
  border: 1px solid rgb(241, 241, 241);
  color: var(--text-gray);
}

#modalEditProduct button[type=submit] {
  display: flex;
  align-items: center;
  gap: .25rem;
  background-color: var(--btn-primary);
  color: var(--text-white);
  padding: .25rem .75rem;
  border-radius: var(--border-radius-btn);
}

#modalEditProduct button[type=submit]::before {
  content: url("../images/check.png");
}

/* Estilos do modal de excluir produto */
#modalDeleteProduct h3::before {
  content: url("../images/delete-dark.png");
}

#modalDeleteProduct .close-btn-modal {
  background-color: transparent;
  border: 1px solid rgb(241, 241, 241);
  color: var(--text-gray);
  font-weight: 400;
}

.text-warning {
  background-color: var(--bg-secondary);
  padding: .5rem;
  border-radius: var(--border-radius-btn);
  margin: 1rem 0;
  font-size: 12px;
}

.small-warning-text {
  background-color: var(--bg-danger);
  color: var(--text-white);
  border-radius: var(--border-radius);
  padding: .15rem .5rem;
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 4px;
  font-weight: 600;
  margin: 1rem 0;
}

.small-warning-text::before {
  content: url("../images/warning.png");
  margin-top: 4px;
}

.btn-delete-product {
  background-color: var(--bg-danger);
  color: var(--text-white);
}

#modalDeleteProduct footer > div {
  padding: 0 1rem;
  display: flex;
  justify-content: space-between  ;
}

#modalDeleteProduct button[type=submit] {
  padding: .25rem 1rem;
  background-color: var(--bg-danger);
  border-radius: var(--border-radius-btn);
  display: flex;
  align-items: center;
  gap: 4px;
}

.div-datas-delete {
  display: flex;
  gap: 5rem;
}

.div-separate-data {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.div-separate-data p {
  font-size: 13px;
  font-weight: 600;
}

#modalDeleteProduct button[type=submit]::before {
  content: url("../images/delete-white.png");
}