:root {
  --text-dark: #2A323D;
  --bg-body: #F7F8F9;
  --bg-secondary: #F1F5F9;
  --btn-primary: #0EA5A4;
  --text-gray: #98A6BB;
  --border-radius: 1rem;
  --border-radius-btn: .5rem;
  --bg-warning: #F59E0B;
  --bg-white: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter;
  border: none;
}

body {
  background-color: var(--bg-body);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

main {
  background-color: var(--bg-white);
  padding: 2rem;
  border-radius: var(--border-radius);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.13);
}

h1 {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text-dark);
  display: flex;
  align-items: center;
}

h1::before {
  content: url("../images/box.png");
  background-color: var(--bg-secondary);
  border-radius: var(--border-radius-btn);
  margin-right: .5rem;
  padding: .35rem .25rem 0 .25rem;
}

.text-account {
  padding: .5rem 0;
}

p, label {
  color: var(--text-gray);
  font-size: 14px;
}

label {
  margin-top: .5rem;
}

form > div {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

input {
  border: 1px solid #e1e4eb;
  padding: .5rem;
  border-radius: var(--border-radius-btn);
}

button {
  background-color: var(--btn-primary);
  padding: .25rem;
  border-radius: var(--border-radius-btn);
  color: white;
  font-weight: 600;
  width: 100%;
  margin-top: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

button::before {
  content: url("../images/enter-white.png");
}

button:hover {
  background-color: #137c7c;
  transition: all .5s;
}

.message-error {
  background-color: var(--bg-warning);
  padding: .5rem 1rem;
  border-radius: var(--border-radius-btn);
  margin-top: 1rem;
  color: var(--text-dark);
  display: none;
}

.text-forgot-password {
  text-align: center;
  margin-top: 1rem;
}